<!doctype html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Marsouin Land est le site officiel de la team MC. Venez voir tous nos services bande de marsouins.">
	<meta name="author" content="Cendros">
	<meta content="#1DD7EE" data-react-helmet="true" name="theme-color" />
	<title>Marsouin Land</title>
	<link rel="icon" href="https://i.imgur.com/aZpO0FN.png" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" type='text/css' href="sites/Marsouin Land/views/styles/home.css">
	<!-- Twitter -->
	<meta name=”twitter:card” content="summary" />
	<meta name=”twitter:site” content="@marsouin-land.cendros.repl" />
	<meta name=”twitter:title” content="Marsouin Land" />
	<meta name=”twitter:description” content="Marsouin Land est le site officiel de la team MC. Venez voir tous nos services bande de marsouins." />
	<meta name=”twitter:image” content="https://i.imgur.com/aZpO0FN.png" />
	<!-- Facebook -->
	<meta property="og:title" content="Marsouin Land" />
	<meta property="og:description" content="Marsouin Land est le site officiel de la team MC. Venez voir tous nos services bande de marsouins." />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://marsouin-land.cendros.repl.co/" />
	<meta property="og:image" content="https://i.imgur.com/aZpO0FN.png" />
	<meta property="og:image:type" content="image/png">
</head>
<body class="bg-dark text-white">
	<div class='container'>
		<h1 class="text-center mt-5 mb-5">Bienvenue à Marsouin Land !</h1>
		<h3>Nos services</h3>
		<hr>
		<div class='row'>
			<div class="col-md-3">
				<div class='card bg-info text-center mb-4'>
					<div class='card-header'>
						<img class="card-img-top" src="sites/Marsouin Crepes/views/img/mcCrepe.png" alt="Marsouin Crêpes">
					</div>
					<div class="card-body">
				    	<h5 class="card-title">Marsouin Crêpes</h5>
				    	<p class="card-text">Venez vous délecter de nos crêpes préparées par un chef breton étoilé au guide Marsouin.</p>
						<a class='btn btn-primary' href='https://marsouin-land.cendros.repl.co/Marsouin-Crepes'>Aller sur le site</a>
				    </div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>