:root {
    --main-bg-color-1: rgba(150,144,255,1);
    --main-bg-color-2: rgba(0,212,255,1);
    --bg-transparent: rgba(0, 0, 0, 0.534);
    --bg-transparent-2: rgba(0, 0, 0, 0);
    --text-primary: rgb(100, 180, 255);
    --text-secondary: rgb(13, 81, 145);
    --bg-button-primary: #F5C005;
}

html, body{
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    background-image: url(../img/main-bg.jpg);
    background-size: cover;
    background-position: 50% 90%;
}


.title {
    text-align: center;
    color: var(--text-primary);
    font-family: Brush Script MT, Brush Script Std, cursive;
	padding-left: 2vw;
	padding-right: 2vw;
}

.logo img {
    width: 40%;
    height: auto;
}