<!doctype html>
<html lang="fr">
<head>
  	<meta charset="utf-8">
  	<title>Marsouin Crêpes</title>
	<base href="/">
  	<link rel="stylesheet" type='text/css' href="sites/Marsouin Crepes/views/styles/home.css">
</head>
<body>
<div class="container">
    <div class="title">
        <h1>Marsouin Crêpes</h1>
        <h2>Salaire à partir de 2078€ par mois</h2>
        <div class="logo">
          	<img src="sites/Marsouin Crepes/views/img/mcCrepe.png">
        </div>
        <button class="btn btn-primary">
          	<a href="/Marsouin-Crepes/menu">Menu</a>
        </button>
    </div>
</div>
</body>
</html>