<!doctype html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Venez vous délecter de nos crêpes préparées par un chef breton étoilé au guide Marsouin.">
	<meta name="author" content="Cendros">
	<meta content="#EBB434" data-react-helmet="true" name="theme-color" />
	<title>Marsouin Crêpes</title>
	<base href="/">
	<link rel="icon" href="https://i.imgur.com/V9G3yq2.png" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  	<link rel="stylesheet" type='text/css' href="sites/Marsouin Crepes/views/styles/home.css">
	<!-- Twitter -->
	<meta name=”twitter:card” content="summary" />
	<meta name=”twitter:site” content="@marsouin-land.cendros.repl" />
	<meta name=”twitter:title” content="Marsouin Crêpes" />
	<meta name=”twitter:description” content="Venez vous délecter de nos crêpes préparées par un chef breton étoilé au guide Marsouin." />
	<meta name=”twitter:image” content="https://i.imgur.com/V9G3yq2.png" />
	<!-- Facebook -->
	<meta property="og:title" content="Marsouin Crêpes" />
	<meta property="og:description" content="Venez vous délecter de nos crêpes préparées par un chef breton étoilé au guide Marsouin." />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://marsouin-land.cendros.repl.co/Marsouin-Crepes/" />
	<meta property="og:image" content="https://i.imgur.com/V9G3yq2.png" />
	<meta property="og:image:type" content="image/png">
</head>
<body class="d-flex h-100 text-center">
	<div class="cover-container d-flex w-50 h-100 p-3 mx-auto flex-column">
		<header class="mb-auto">
			<div>
			</div>
		</header>
		<main class="px-3">
			<h1>Marsouin Crêpes</h1>
			<p class="lead">Salaire à partir de 2078€ par mois</p>
			<div class="logo mb-5">
				<img src="sites/Marsouin Crepes/views/img/mcCrepe.png">
			</div>
			<p class="lead">
				<a class="btn btn btn-lg btn-secondary fw-bold border-white bg-dark" href="/Marsouin-Crepes/menu">Menu</a>
			</p>
		</main>
		<footer class="mt-auto text-white-50">
				<p>
					<a class="text-white h6" href="/"><h3>Marsouin Land</h3></a>

				</p>
		</footer>
	</div>
</body>
</html>